$yellow: #FEE700;
$orange: #FF6324;
$dark-orange: #F7A521;
$light-orange: #FFBD21;
$beige: #FCC778;
$dark-brown: #582A00;
$brown: #824C43;
$light-brown: #B37024;
$blue: #95D5D2;

$circle: 50%;

// *{
//   animation-play-state: paused !important;
// }

body{
  background: $blue;
  display: flex;
  width: 1200px;
  height: 500px;
  position: relative;
}

.container{
  // width: 314px;
  // height: 290px;
  margin: 250px auto;
  position: relative;
  //transform: rotate(-20deg);
  animation: container 0.5s ease-in-out infinite;
  transform-origin: top left;
}

@keyframes container{
  0%, 100%{
    //transform: rotate(-20deg);
  }
  50%{
    transform:  translatey(-15px) translatex(5px);
  }
}

.ears{
  width: 200px;
  height: 50px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.ear{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ear-left{
  background: $dark-orange;
}
.ear-right{
  background: $light-orange;
}

.beaver{
  position: relative;
  height: 300px;
  width: 200px;
  background: $light-orange;
  border-radius: $circle $circle 0 0;
  overflow: hidden;
  z-index: 2;
  .eyes{
    position: absolute;
    width: 180px;
    height: 10px;
    top: 70px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    animation: eyes 0.5s ease-in-out infinite;
    .eye{
      width: 10px;
      height: 10px;
      background: $brown;
      border-radius: $circle;
    }
  }
  @keyframes eyes{
    0%, 100%{
      left: 0px;
    }
    50%{
      left: 10px;
    }
  }
  .middle{
    width: 90px;
    height: 300px;
    background: $dark-orange;
    border-radius: $circle 0 0 0;
    animation: middle 0.5s ease-in-out infinite;
    .nose{
      width: 50px;
      height: 30px;
      border-radius: $circle;
      background: $brown;
      position: relative;
      top: 125px;
      left: 65px;
      animation: nose 0.5s ease-in-out infinite;
    }
    @keyframes nose{
      0%, 100%{
        transform: translatex(-10px);
      }
      50%{
        transform: translatex(0px);
      }
    }
    .teeth-wrapper{
      transform: scale(0.4);
      position: relative;
      top: 150px;
      left: 45px;
      animation: teeth 0.5s ease-in-out infinite;
       .teeth {
          position: relative;
          width: 54px;
          border-width: 50px 18px 0;
          border-style: solid;
          border-color: white transparent;
        }
       .teeth:before {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          top: -85px;
          left: -18px;
          border-width: 0 45px 35px;
          border-style: solid;
          border-color: transparent transparent white;
      }
    } 
    @keyframes teeth{
      0%, 100%{
        transform: scale(0.4) translatex(-10px);
      }
      50%{
        transform: scale(0.4) translatex(5px);
      }
    }
  }
  @keyframes middle{
    0%,100%{
      width: 80px;
    }
    50%{
      width: 90px;
    }
  }
}


.legs{
  width: 80px;
  height: 80px;
  left: 65px;
  position: relative;
  z-index: 1;
  bottom: 20px;
  .leg{
    height: 80px;
    width: 20px;
    background: white;
    
  }
  .leg-left{
    left: 0px;
    position: absolute;
    background: $dark-orange;
    transform-origin: top;
    animation: leg-left 0.5s ease-in-out infinite;
  }
  @keyframes leg-left{
    0%, 100%{
      transform: rotate(-30deg);
    }
    50%{
      transform: rotate(30deg);
    }
  }
  .leg-right{
    left: 40px;
    position: absolute;
    background: $light-orange;
    z-index: 2;
    transform-origin: top;
    animation: leg-right 0.5s ease-in-out infinite;
  }
  @keyframes leg-right{
    0%, 100%{
      transform: rotate(30deg);
    }
    50%{
      transform: rotate(-30deg);
    }
  }
}

.tail{
  height: 50px;
  width: 120px;
  position: relative;
  display: flex;
  bottom: 150px;
  right: -180px;
  justify-content: space-between;
  transform-origin: left;
  animation: tail 0.5s ease-in-out infinite;
  .circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    position: absolute;
    background: $dark-orange;
  }
  .circle.left{
    border: 20px solid $brown;
    box-sizing: border-box;
    
  }
  .circle.right{
    right: 0px;
  }
  .middle{
    width: 80px;
    height: 50px;
    background: $dark-orange;
    position: absolute;
    left: 20px;
    border: 20px solid $brown;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    border-radius: 5px;
  }
}
@keyframes tail{
  0%, 100%{  
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(-20deg);
  }}
.roaba{
  width: 250px;
  height: 80px;
  background: $orange;
  position: absolute;
  bottom: -50px;
  left: 270px;
  animation: roaba 0.5s ease-in-out infinite;
  transform-origin: right;
  .handle{
    width: 50px; 
    height: 10px;
    position: absolute;
    right: -50px;
    background: $orange;
  }
}

@keyframes roaba{
  0%, 100%{
    transform: rotate(0deg) translate(0px, 10px);
  }
  50%{
    transform: rotate(-5deg) translate(-7px, -10px);
  }
}

.wheel{
  position: absolute;
  width: 70px;
  height: 80px;
  border-radius: 50%;
  background: white;
  top: 40px;
  left: 30px;
  animation: wheel 1s linear infinite;
  border: 5px solid black;
}

@keyframes wheel{
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.hand{
  width: 80px;
  height: 15px;
  background: $dark-orange;
  //bottom: 50px;
  left: 45px;
  position: absolute;
  transform-origin: left;
  animation: hand 0.5s ease-in-out infinite;
}
@keyframes hand{
  0%, 100%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(10deg) translatey(5px);
  }
}

.logs{
  width: 240px;
  height: 240px;
  position: absolute;
  bottom: 20px;
  .log{
    height: 60px;
    width: 240px;
    background: $brown;
    position: relative;
    border: 5px solid $dark-brown;
    box-sizing: border-box;
  }
  .log.log-one{
    transform-origin: right;
    animation: log 1s ease-in-out infinte;
    transform: translatey(25px);
    width: 200px;
    left: 25px;
  }
  
  
  .log.log-two{
    transform: translatey(15px);
     z-index: 2;
    animation: log-one 1s ease-in-out infinte;
    width: 220px;
    left: 15px;
  }
  .log.log-three{
    z-index: 3;
    animation: log-three 1s ease-in infinte;
    left: 5px;
  }
}


.shadows{
  width: 500px;
  height: 100px;
  position: absolute;
  bottom: -150px;
  left: 220px;
  z-index: -10;
  .shadow1{
    width: 250px;
    height: 50px;
    //background: white;
    position: relative;
    left: 50px;
  }
}

