
.container
  .ears
    .ear.ear-left
    .ear.ear-right
  .beaver
    .middle
      .eyes
        .eye.eye-left
        .eye.eye-right
      .nose
      .teeth-wrapper
        .teeth
    
  .legs
    .leg.leg-left
    .leg.leg-right
  .tail
    .circle.left
    .middle
    .circle.right
.roaba
  .handle
    .hand
  .wheel
  .logs
    .log.log-one
    .log.log-two
    .log.log-three
.shadows
  .shadow1
  .shadow2